<!doctype html>
<html lang="en">
    <head>
        <title>Welcome</title>
        <style>
            body {
                font-family: sans-serif;
                margin: 0;
                height: 100vh;
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            main {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            footer {
                background-color: #2e2e2e;
                color: white;
                padding: 1rem;
            }
        </style>
    </head>
    <body style="background-color: {{ background }}">
        <main>
            <h1>Simple MVC PHP</h1>
            <span>{{ motto }}</span>
        </main>
        <footer>
            MVC Version <strong>{{ version }}</strong> powered by dependency injection <strong>{{ diVersion }}</strong>
        </footer>
    </body>
</html>
