<!doctype html>
<html lang="en">
    <head>
        <title>Not Found</title>
        <style>
            body {
                margin: 0;
                height: 100vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body style="background-color: {{ background }}">
        <h1>
            Simple MVC PHP<br><small>Now with Docker!</small>
        </h1>
        Version {{ version }}
    </body>
</html>
